/*
Theme Name: bootstrap-basic4 Child
Template: bootstrap-basic4
Author: Krishna Teja
*/
@font-face {
  font-family: "andale mono";
  src: url("../bootstrap-basic4/fonts/andalemo.ttf") format("opentype");
}

@font-face {
  font-family: "Sports World";
  src: url("../bootstrap-basic4/fonts/Sports World-Regular.ttf") format("Truetype");
}

@font-face {
  font-family: "Norwester";
  src: url("../bootstrap-basic4/fonts/norwester.otf") format("opentype");
}

@font-face {
  font-family: "norwester";
  src: url("../bootstrap-basic4/fonts/norwester.otf") format("opentype");
}

@font-face {
  font-family: "Montserrat";
  src: url("../bootstrap-basic4/fonts/Montserrat-Regular.ttf") format("opentype"),
       url("../bootstrap-basic4/fonts/Montserrat-Medium.ttf") format("opentype");
}



@font-face {
  font-family: FoundersGrotesk-Regular;
  src: url("../bootstrap-basic4/assets/fonts/FoundersGrotesk-Regular.otf");
  src: url("../bootstrap-basic4/assets/fonts/FoundersGrotesk-Regular.eot?#iefix") format("embedded-opentype"), url("../bootstrap-basic4/assets/fonts/FoundersGrotesk-Regular.eot") format("eot"), url("../bootstrap-basic4/assets/fonts/FoundersGrotesk-Regular.woff") format("woff"), url("../bootstrap-basic4/assets/fonts/FoundersGrotesk-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal
}


.andalemono{
  font-family:"Montserrat";
}
.sportsworld{
  font-family:"Sports World";
}
.norwester{
  font-family:"Norwester";
}
.montserrat{
  font-family: "Montserrat";
}

.FoundersGrotesk{
  font-family: "FoundersGrotesk-Regular";
}



body{
 font-family: "FoundersGrotesk-Regular","Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif !important;
 color:#000;
 font-size:15px;
}



/* CUSTOM CSS FOR Ai4 */
footer a {
  color: #ed2f57 !important;
  font-weight: 500;
}
.tabs-content h4 a,.tabs-content h5 a {
  color: #000;
  text-decoration:underline;
}
.tabs-content h4 a:hover,.tabs-content h5 a {
  color: #ed2f57 !important;
}

.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
}


.navbar{
  position: fixed;
  width:100%;
  transition: background-color 1s;
}
.page-header {
  background-image: linear-gradient(0deg,#191919 0,transparent 50%),url(../bootstrap-basic4/assets/img/header-background.jpg);
  background-size: cover;
  background-position: center top;
  padding-top: 12em;
  margin-bottom: 0px !important;
}

.fixed-top {
  top: unset !important;
}

header h1 {
  /* font-size: 4em; */
  font-weight: bold;
}

#main {
  padding: 0px !important;
  background-color: #000;
  background-image: linear-gradient(0deg,#191919 0,transparent 50%),url(../bootstrap-basic4/assets/img/header-background-2.png);
  background-position: right bottom !important;
  background-repeat: no-repeat !important;
  background-size: auto 80% !important;
}

#main .post, #main .page  {
  border: 0px !important;
}

.page-header .gradient-divider {
  display: block;
  height: 3px;
}

.gradient-divider {
  background: linear-gradient(90deg,#534299 0,#f9a31f 33%,#22b099 66%,#3067b1 100%);
}

.page-header h1 {
  color: white;
  font-weight: bold;
  font-size: 8em;
  margin-bottom: 0;
  line-height: 1;
}

.entry-header h1 {
  display:none;
}

article.page.type-page {
  padding: 100px 140px 100px !important;
}

.navbar-dark .navbar-toggler {
  color: transparent !important;
  border-color: transparent !important;
}

@media all and (max-width: 480px) {

  .navbar-dark {
    background-color: #191919 !important;
  }

  article.page.type-page {
    padding: 100px 0px 100px !important;
  }

  img.wp-image-48 {
    padding: 50px !important;
  }

}

p.copy {
  margin-bottom: 0rem !important;
  padding: 10px;
}

#main .post, #main .page {
  margin: 0 !important;
}
footer.entry-meta {
  display:none !important;
}

.page-header .container h3 {
  color: #fff;
  font-size: 2rem;
}

.after-header {
  width: 100%;
}

.tabs-widget {
  background-image: url(../bootstrap-basic4/assets/img/gradient-2.png);
  background-size: cover;
  background-position: center bottom -1px;
  position: relative;
  height: 60px;
}

.tabs-widget ul {
  display: inline-flex;
}

.tabs-widget ul li {
  list-style: none;
  margin: 10px 40px;
  opacity: 0.5; 
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}
.tabs-widget ul li:hover,  .tabs-widget ul li:active{
  color: #fff;
  opacity: 1;
}
.tabs-active {
  opacity: 1 !important;
}

.tabs-arrow { 
  left: 39rem;
  right: 0;
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 1em solid #ffffff;
  position: absolute;
  bottom: 0;
  -webkit-transition: left .5s;
  transition: left .5s;
}

.black-arrow {
  border-bottom: 1em solid #000 !important;
}

.tabs-content {
  padding: 40px;
}

.tabs-content h4 {
  line-height: 1.5;
}

.tabs-content:hover img {
  filter: grayscale(0);
}

.tabs-content img {
  width: 100%;
  transition: all 1s;
  filter: grayscale(1);
  margin: 10px auto;
}

.tabs-content h4 h5 a {
  text-decoration: underline !important;
  color: #ed2f57 !important;
  text-decoration: none !important;
  cursor: pointer;
}

.tabs-content h4 h5 a:hover {
  color: #e1133f !important;
}

.tabs-content h3 {
  font-size: 2.5rem;
}

.tabs-content h6 {
  text-transform: uppercase;
  font-weight: bold;
}

.btn-Div {
  display: inline-block;
  vertical-align: middle;
  margin: 1rem 0 1rem 0;
  padding: .7em 1.5em .8em;
  border: 1px solid transparent;
  border-radius: 1000px;
  background-color: gray;
    /* background-image: linear-gradient(to bottom,rgba(255,255,255,.2) 0,rgba(255,255,255,.01) 100%);
    background-repeat: repeat-x; */
  font-family: inherit;
  font-size: 1.125rem;
  -webkit-appearance: none;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 0 0 20px #a7a7a7;
  box-shadow: 0 0 20px #a7a7a7;
}

.tab-content:hover  .tab-content.btnInside {
  background-color: #22b099;
}

.btn-Div a {
  color: white !important;
  font-weight: 500;
  text-decoration: none !important;
}

/* .tabs-content:hover > .tabs-content .sub-head {
  color: #22b099;
} */

.sp-easy-accordion .sp-ea-single {
  margin-bottom: 0px !important;
}
/* .sp-ea-one.sp-easy-accordion .sp-ea-single .ea-header a {
  padding: 5px !important;
} */

.footer-section {
  background-image: url(../bootstrap-basic4/assets/img/gradient-2.png);
  background-size: cover;
  background-position: center center;
  padding: 4em 0;
  color: #fefefe;
  width: 100%;
}

h1.saveDate {
  font-size: 3.5rem !important;
}

.lead {
  font-size: 2.25rem !important;
  font-weight: 300 !important;
}

footer {
  background-color: #191919;
  padding-top: 2em;
  color: #fefefe;
  width: 100%;
}

.footer-menu {
  list-style-type: none;
  display: inline-flex;
}

.footer-menu li {
  margin: 10px;
  color: white !important;
}

.footer-menu-item-a {
  color: white !important;
  text-decoration: none !important;
}

.footer-menu-item-a:hover {
  color: #e1133f !important;
  text-decoration: none !important;
}

.footer-menu-item-a img {
  width: 32px !important;
}

footer h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

#navbarNav {
  margin-top: -20px !important;
}

a.navbar-brand {
  margin-left: 20px;
  font-weight: 700;
  transition: all .5s;
  font-size: 3rem !important;
}

a.navbar-brand:hover {
  color: #ed2f57 !important;
}

ul.navbar-nav.ml-auto {
  margin-right: 30px;
}
.dropdown-menu {
  background-color: #191919 !important;
  border: 0 !important;
  border-radius: 0 !important;
  /* margin-top: 30px !important; */
}
.dropdown-item {
  color: white !important;
}
.dropdown-item:hover {
  color: #e1133f !important;
  background-color: transparent !important;
}

a#navbardrop:hover {
  font-weight: 500;
  color: #e1133f !important;
}

a.nav-link {
  font-size: 1.2rem !important;
  font-weight: 500 !important;
}

a.nav-link:hover, a.nav-link:active {
  color: #e1133f !important;
  font-weight: 500;
}

.header-bg-dark {
  background-color: #191919 !important;
}

.redbtn {
  margin-right: 20px;
  background-color: #ed2f57;
  -webkit-box-shadow: 0 0 20px #ed2f57;
  box-shadow: 0 0 20px #ed2f57;
}

.bluebtn {
  margin-right: 20px;
  background-color: #22b099;
  -webkit-box-shadow: 0 0 20px #22b099;
  box-shadow: 0 0 20px #22b099;
}

.collapse .btn-Div a:hover {
  color: #000 !important;
}

.btnInside {
  background-color: gray;
  /* filter: grayscale(1); */
  transition: all 1s;
}

.tabs-content:hover .btnInside {
  background-color: #22b099;
  /* filter: grayscale(0); */
}

.tabs-content:nth-child(2):hover .btnInside {
  background-color: #3067b1;
  /* filter: grayscale(0); */
}

h6.sub-head {
  color: gray;
  transition: all 1s;
}

.tabs-content:hover h6.sub-head {
  color: #22b099;
  transition: all 1s;
}

.tabs-content:nth-child(2):hover h6.sub-head {
  color: #3067b1;
  transition: all 1s;
}



/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
/* ============ desktop view .end// ============ */